name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-jre21:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            bazel: '8.x'
          - os: ubuntu-latest
            bazel: '9.x'
          - os: macos-latest
            bazel: '8.x'
          - os: macos-latest
            bazel: '9.x'
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ^1.17
        id: go
      - name: Setup Bazelisk
        run: go install github.com/bazelbuild/bazelisk@latest && export PATH=$PATH:$(go env GOPATH)/bin
      - uses: actions/checkout@v4
      - name: Run bazel-diff tests
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel }}
        run: ~/go/bin/bazelisk coverage --combined_report=lcov //cli/... --enable_bzlmod=true --enable_workspace=false
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage-report-jre21-${{ matrix.os }}-bazel-${{ matrix.bazel }}
          path: bazel-out/_coverage/_coverage_report.dat
          if-no-files-found: warn
      - name: Upload test logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-logs-jre21-${{ matrix.os }}-bazel-${{ matrix.bazel }}
          path: bazel-testlogs/
          if-no-files-found: warn
  test-jre11-run-example:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            bazel: '7.x'
            disable_workspace: 'false'
            extra_flags: ''
          - os: ubuntu-latest
            bazel: '7.x'
            disable_workspace: 'false'
            extra_flags: '--incompatible_disable_native_repo_rules'
          - os: ubuntu-latest
            bazel: '8.x'
            disable_workspace: 'true'
            extra_flags: ''
          - os: ubuntu-latest
            bazel: '8.6.0rc1'
            disable_workspace: 'true'
            extra_flags: ''
          - os: ubuntu-latest
            bazel: '8.x'
            disable_workspace: 'true'
            extra_flags: '--incompatible_disable_native_repo_rules'
          - os: ubuntu-latest
            bazel: '9.x'
            disable_workspace: 'true'
            extra_flags: ''
          - os: ubuntu-latest
            bazel: '9.x'
            disable_workspace: 'true'
            extra_flags: '--incompatible_disable_native_repo_rules'
          - os: windows-latest
            bazel: '7.x'
            disable_workspace: 'false'
            extra_flags: ''
          - os: windows-latest
            bazel: '8.x'
            disable_workspace: 'true'
            extra_flags: ''
          - os: windows-latest
            bazel: '9.x'
            disable_workspace: 'true'
            extra_flags: ''
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
        id: java
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ^1.17
        id: go
      - name: Setup Bazelisk
        run: go install github.com/bazelbuild/bazelisk@latest && export PATH=$PATH:$(go env GOPATH)/bin
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run bazel-diff example script (Linux)
        if: runner.os != 'Windows'
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel }}
          BAZEL_DIFF_DISABLE_WORKSPACE: ${{ matrix.disable_workspace }}
          BAZEL_DIFF_FORCE_CHECKOUT: true
          BAZEL_EXTRA_COMMAND_OPTIONS: ${{ matrix.extra_flags }}
        run: ./bazel-diff-example.sh "$GITHUB_WORKSPACE" ~/go/bin/bazelisk $(git rev-parse HEAD~1) $(git rev-parse HEAD)
      - name: Run bazel-diff example script (Windows)
        if: runner.os == 'Windows'
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel }}
          BAZEL_DIFF_DISABLE_WORKSPACE: ${{ matrix.disable_workspace }}
          BAZEL_DIFF_FORCE_CHECKOUT: true
          BAZEL_EXTRA_COMMAND_OPTIONS: ${{ matrix.extra_flags }}
        shell: pwsh
        run: |
          $prevRev = git rev-parse HEAD~1
          $currRev = git rev-parse HEAD
          .\bazel-diff-example.ps1 -WorkspacePath "$env:GITHUB_WORKSPACE" -BazelPath "$env:USERPROFILE\go\bin\bazelisk.exe" -PreviousRevision $prevRev -FinalRevision $currRev
  deploy:
    needs: [test-jre21]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11' ]
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
        id: java
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ^1.17
        id: go
      - name: Setup Bazelisk
        run: go install github.com/bazelbuild/bazelisk@latest && export PATH=$PATH:$(go env GOPATH)/bin
      - uses: actions/checkout@v4
      - name: Build deployable JAR
        run: ~/go/bin/bazelisk build //cli:bazel-diff_deploy.jar
      - uses: actions/upload-artifact@v4
        with:
          name: bazel-diff_deploy.jar
          path: bazel-bin/cli/bazel-diff_deploy.jar
          if-no-files-found: error
      - name: Build release source archive
        run: make release_source_archive
      - uses: actions/upload-artifact@v4
        with:
          name: release.tar.gz
          path: archives/release.tar.gz
          if-no-files-found: error
