name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-jre21-bzlmod:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ^1.17
        id: go
      - name: Setup Bazelisk
        run: go install github.com/bazelbuild/bazelisk@latest && export PATH=$PATH:$(go env GOPATH)/bin
      - uses: actions/checkout@v4
      - name: Run bazel-diff tests
        run: ~/go/bin/bazelisk coverage --combined_report=lcov //cli/... --enable_bzlmod=true
  test-jre21:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ^1.17
        id: go
      - name: Setup Bazelisk
        run: go install github.com/bazelbuild/bazelisk@latest && export PATH=$PATH:$(go env GOPATH)/bin
      - uses: actions/checkout@v4
      - name: Run bazel-diff tests
        run: ~/go/bin/bazelisk coverage --combined_report=lcov //cli/... --enable_bzlmod=false
  test-jre11-run-example:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        bazel: ['7.x', '8.x', '9.x']
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
        id: java
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ^1.17
        id: go
      - name: Setup Bazelisk
        run: go install github.com/bazelbuild/bazelisk@latest && export PATH=$PATH:$(go env GOPATH)/bin
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run bazel-diff example script
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel }}
        run: ./bazel-diff-example.sh "$GITHUB_WORKSPACE" ~/go/bin/bazelisk $(git rev-parse HEAD~1) $(git rev-parse HEAD)
  deploy:
    needs: [test-jre21]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11' ]
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
        id: java
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ^1.17
        id: go
      - name: Setup Bazelisk
        run: go install github.com/bazelbuild/bazelisk@latest && export PATH=$PATH:$(go env GOPATH)/bin
      - uses: actions/checkout@v4
      - name: Build deployable JAR
        run: ~/go/bin/bazelisk build //cli:bazel-diff_deploy.jar
      - uses: actions/upload-artifact@v4
        with:
          name: bazel-diff_deploy.jar
          path: bazel-bin/cli/bazel-diff_deploy.jar
          if-no-files-found: error
      - name: Build release source archive
        run: make release_source_archive
      - uses: actions/upload-artifact@v4
        with:
          name: release.tar.gz
          path: archives/release.tar.gz
          if-no-files-found: error
