name: Integration External Target

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 */12 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11' ]
    steps:
      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with:
          distribution: '<distribution>'
          java-version: ${{ matrix.java }}
        id: java
      - uses: actions/checkout@v2
        with:
          repository: tinder-maxwellelliott/bazel-diff-repro-1
          ref: wip_fix
          fetch-depth: 0
      - name: Run External Target Impact test
        run: ./bazel-diff.sh $(pwd) bazel $(git rev-parse HEAD~1) $(git rev-parse HEAD)
      - name: Validate Impacted Targets
        run: grep -q "//:yo" /tmp/impacted_targets.txt

